#editor .wrapper{
    width: 70%;
    margin: 0 auto;
}
#editor .buttonResister:hover {
    background-color: #BDE6F1;
    font-weight: bold;
    border: solid #BDE6F1;
}
#editor .container-box {
    column-count: 2;
    column-gap: 2%;
}