#post-detail {
    width: 100%;
    display: flex;
}

#post-detail .post-boundary {
    margin: 8% 8% 8% 8%;
}

#post-detail .post-page {
    margin: 0 auto;
    padding: 10px 0;
}

#post-detail .area {
    display: table;
    margin: 0;
    padding: 0;
    table-layout: fixed;
    line-height: 40px;
}

#post-detail .component {
    display: inline-block;
    width: 100px;
    font-weight: bold;
}

#post-detail .button {
    transition-duration: 0.2s;
    border: 2px solid #e7e7e7;
    padding: 10px 10px 10px 10px;
    float: right;
}

#post-detail .button:hover {
    background-color: #e7e7e7;
}
