#profile {
    width: 100%;
}

#profile .withdrawalbtn {
    transition-duration: 0.2s;
    border: 2px solid #e7e7e7;
    padding: 8px 8px 8px 8px;
    margin : 0% 5% 5% 5%;
    float: right;
    font-size:small;
}

#profile .withdrawalbtn:hover {
    background-color: #999797;
    color: #ffffff;
    border: #ffffff;
    font-weight: bold;
}

#profile .image img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

#profile .buttonDefault {
    transition-duration: 0.2s;
    border: 2px solid #e7e7e7;
    padding: 10px 10px 10px 10px;
    float: right;
}

#profile .buttonDefault:hover {
    background-color: #e7e7e7;
}

#profile .modal-content {
    width: 600px;
    max-width: 80%;
}

#profile-modal input::-webkit-calendar-picker-indicator {
    display: none;
}

#profile .image {
    width: 200px;
    height: 200px;
}

#profile .image img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

#profile .edit-profile-field > div {
    margin: 30px 0px;
}

/* #profile .edit-profile-field > .password-field > input {
    margin: 20px 0px;
}

#profile .edit-profile-field > .tech-field > label{
    margin: 10px 15px;
} */

#profile .edit-profile-field > .others-field > input, textarea {
    margin: 10px 0px;
}


#profile .edit-profile-field > .others-field > .field.has-addons {
    display: flex;
    justify-content: flex-start;
}
/* #profile .image-field > label, input {
    margin: 0px 10px;
} */

#profile .fa-github-alt {
    color: rgb(24, 66, 182);
}

#profile .card {
    margin-bottom: 16px;
    border: 1px solid #E0E0E0;
    border-radius: 12px;
    box-shadow: none;
    cursor: pointer;
}

#profile .card:last-child {
    margin-bottom: 0px;
}

#profile .card-header {
    box-shadow: none;
}

#profile .card-header-icon {
    cursor: auto;
}

#profile .card-header-icon .tech-stack-icon {
    margin-right: 8px;
}

#profile .card-header-icon .tech-stack-icon:last-child {
    margin-right: 0px;
}

#profile .card-content {
    display: flex;
    padding: 12px 16px;
    justify-content: space-between;
}

#profile .card-content-box {
    display: flex;
    flex-direction: row;
}

#profile .card-content-box:last-child > *:first-child {
    display: flex;
    flex-direction: row;
    margin-right: 24px;
}

#profile .card-content-box .content {
    margin-right: 24px;
    margin-bottom: 12px;
    font-size: 14px;
}

#profile .card-content-box .content:last-child {
    margin-right: 0px;
}

#profile .card-content-box .content > *:first-child {
    margin-right: 4px;
}

#profile .card-content-box .content > *:last-child {
    margin-right: 0px;
}

#profile .card-content-box .is-default{
    padding: 4px 8px;
    border: 1px solid #E0E0E0;
    border-radius: 16px;
    font-size: 12px;
}

#profile .card-content-box .bubble{
    padding: 4px 8px;
    border: 1px solid #E0E0E0;
    border-radius: 16px;
    font-size: 12px;
    background-color : #ffffff;
}

#profile .is-pink {
    background-color : #FF869E;
    color: #ffffff;
    padding: 4px 8px;
    border-radius: 16px;
    font-size: 13px;
    font-weight: bold;
}

#profile .is-gray {
    background-color : #f9f8f8a7;
}

#profile .is-gray:hover {
    background-color : #ffffff;
}

#profile .bookmark {
    margin-top: 1%;
    margin-right: 4%;
    font-size: 120%;
}

#profile .bookmark:hover {
    color:coral;
}

/* Mobile */

@media screen and (max-width: 1263px) {
    #profile {
        margin-top: 52px;
    }

    #profile .card-content {
        flex-direction: column;
    }

    #profile .card-content-box:first-child {
        flex-direction: column;
    }

    #profile .card-content-box:first-child > *:first-child {
        margin-bottom: 12px;
    }

    #profile .card-content-box:last-child {
        margin-top: 16px;
        justify-content: space-between;
    }

    #profile .card-content-box:last-child > *:first-child {
        margin-right: 0px;
    }

    #profile .card-content-box .content > span:first-child {
        margin-bottom: 8px;
    }
}