<div id="home" class="page">
    <div class="container is-max-desktop">
        <div class="slidebox">
            <input type="radio" name="slide" id="slide01" checked>
            <input type="radio" name="slide" id="slide02">
            <input type="radio" name="slide" id="slide03">
            <ul class="slidelist">
                <li class="slideitem">
                    <div>
                        <label for="slide03" class="left"></label>
                        <label for="slide02" class="right"></label>
                        <img src="https://velog.velcdn.com/images/songunnie/post/9769fb1c-67f4-4be8-a58e-ce8123d0b751/image.jpg">
                    </div>
                </li>
                <li class="slideitem">
                    <div>
                        <label for="slide01" class="left"></label>
                        <label for="slide03" class="right"></label>
                        <img src="https://velog.velcdn.com/images/songunnie/post/96824df0-8c16-4173-982a-2fd1c543d423/image.jpg">
                    </div>
                </li>
                <li class="slideitem">
                    <div>
                        <label for="slide02" class="left"></label>
                        <label for="slide01" class="right"></label>
                        <img src="https://velog.velcdn.com/images/songunnie/post/10e5981e-6dc9-4c2f-b3b4-3fad94005d92/image.jpg">
                    </div>
                </li>
            </ul>
        </div>
        {{!-- 게시글 섹션--}}
        <section id="home-section-post" class="section"></section>
    </div>
</div>