<div id="home" class="page">
    <div class="container is-max-desktop">
        <div class="slidebox">
            <input type="radio" name="slide" id="slide01" checked>
            <input type="radio" name="slide" id="slide02">
            <input type="radio" name="slide" id="slide03">
            <ul class="slidelist">
                <li class="slideitem">
                    <div>
                        <label for="slide03" class="left"></label>
                        <label for="slide02" class="right"></label>
                        <img src="./static/banner/banner01.jpg">
                    </div>
                </li>
                <li class="slideitem">
                    <div>
                        <label for="slide01" class="left"></label>
                        <label for="slide03" class="right"></label>
                        <img src="./static/banner/banner02.jpg">
                    </div>
                </li>
                <li class="slideitem">
                    <div>
                        <label for="slide02" class="left"></label>
                        <label for="slide01" class="right"></label>
                        <img src="./static/banner/banner03.jpg">
                    </div>
                </li>
            </ul>
        </div>
        {{!-- 게시글 섹션--}}
        <span class="recruitmentStateCheckbox">
            <input id="recruitmentStateCheckbox" style="margin: 0 11px 0 5px;" onclick="recruitmentStateCheckbox()" type="checkbox"> 모집 완료된 프로젝트 포함
        </span>
        <section id="home-section-post" class="section"></section>
    </div>
</div>