<div id="message" class="page">
    <div class="container is-max-desktop">
    {{!-- 쪽지쓰기 버튼 --}}
        <button id="createMessageButton" onclick="openCreateMessageModal()" class="button createMessageButton is-warning is-light is-rounded is-inline-block">쪽지보내기</button>
    {{!-- 쪽지 리스트 --}}
        <section id="message-list" class="section"></section>
        </div>
    </div>
</div>