<div id="post-detail" class="page">
    <div class="container is-max-desktop" id="postingbox">
        {{!-- <div class="post-boundary">
            <button id="deletebtn" class="button has-text-centered is-rounded deletebtn" onclick="deletePost()">삭제</button>
            <button id="updatebtn" class="button has-text-centered is-rounded updatebtn" onclick="showPostUpdatePage()">수정</button>
        <p><div style="font-size: xx-large; font-weight: bold;" id="title_openPost"></div></p>
        <br>
            <span style="float: left; margin-left: 8px;" id="nickname_openPost"></span>
            <div style="float: right">
                <small id="datestr_openPost"></small>
            </div>
            <hr style="margin-top: 40px; margin-bottom: 10px;">
            <div class="post-page">
                <ul class="area">
                    <l>
                        <span class="component">모집 여부</span>
                        <span id="recruitmentState_openPost"></span>
                    </li>
                    <li>
                        <span class="component">모임 방법</span>
                        <span id="meetingType_openPost"></span>
                    </li>
                    <li>
                        <span class="component">문의 방법</span>
                        <span id="contact_openPost"></span>
                    </li>
                    <li>
                        <span class="component">예상 기간</span>
                        <span id="period_openPost"></span>
                    </li>
                </ul>
                <hr style="margin-top: 2px;">
                <ul class="area">
                    <li>
                        <span style="font-size: larger; font-weight: bold">프로젝트 내용</span>
                    </li>
                    <div id="content_openPost"></div>
                </ul>
            </div>
        </div> --}}
    </div>
</div>
{{!-- 댓글박스 --}}
<div id="post" style="display: flex">
    <div class="container is-max-desktop">
        <div style="margin: 0px 60px 0px 60px;" class="posting">
            <div id="post-box">
            </div>

        </div style="margin: 0px 60px 0px 60px;">
        <div style="margin: 0px 60px 0px 60px;">
            <div id="comment-box" style="margin-top: 30px; margin-bottom: 20px;"></div>
            <article class="media" style="margin-top: 40px;">
                <figure class="media-left">
                    <p class="image is-24x24">
                        <img src="./static/profile/basicProfile3.png">
                    </p>
                </figure>
                <div class="media-content">
                    <div class="field">
                        <p class="control">
                            <textarea rows="2" id="comment" class="textarea" style="resize: none;" placeholder="댓글을 입력하세요"></textarea>
                        </p>
                    </div>
                    <div class="level-right">
                        <div class="level-item">
                            <a id="writeComment" class="button has-text-centered is-rounded is-small" onclick="writeComment()"><b>댓글작성</b></a>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </div>
</div>
</div>