<div id="post-detail" class="page">
    <div class="container is-max-desktop">
        <div class="post-boundary">
        <p><div style="font-size: xx-large; font-weight: bold;" id="title_openPost"></div></p>
        <br>
            <span style="float: left; margin-left: 8px;" id="nickname_openPost"></span>
            <div style="float: right">
                <small id="datestr_openPost"></small>
            </div>
            <hr style="margin-top: 40px; margin-bottom: 10px;">
            <div class="post-page">
                <ul class="area">
                    <l>
                        <span class="component">모집 여부</span>
                        <span id="recruitmentState_openPost"></span>
                    </li>
                    <li>
                        <span class="component">모임 방법</span>
                        <span id="meetingType_openPost"></span>
                    </li>
                    <li>
                        <span class="component">문의 방법</span>
                        <span id="contact_openPost"></span>
                    </li>
                    <li>
                        <span class="component">예상 기간</span>
                        <span id="period_openPost"></span>
                    </li>
                </ul>
                <hr style="margin-top: 2px;">
                <ul class="area">
                    <li>
                        <span style="font-size: larger; font-weight: bold">프로젝트 내용</span>
                    </li>
                    <span id="content_openPost"></span>
                </ul>
            </div>
        </div>
    </div>
</div>
