<div id="profile" class="page" style="display:flex">
    <div class="container is-max-desktop">
        <section>
            <button id="withdrawalbtn" class="button withdrawalbtn has-text-centered is-rounded" onclick="withdrawal()">회원 탈퇴</button>
            <div class="hero-body" style="padding-bottom:1rem; margin-top: 10%; min-width: 400px">
                <div id="profile_box">
                    {{!-- profile_box 에 html.append--}}
                    <article class="media">
                        <figure class="media-left" style="align-self: center;">
                            <a class="image is-128x128" href="#">
                                <img class="is-rounded" style="border-radius: 50%;"
                                    src="">
                            </a>
                        </figure>
                    </article>
                    <button id="logoutbtn" class="button buttonDefault has-text-centered is-rounded" onclick="logout()">로그아웃</button>
                    <a id="edit-profile-modal-open-btn" class="button buttonDefault has-text-centered is-rounded" aria-label="edit" style="float: right;"
                        onclick="openEditProfileModal()">
                        <span>프로필 수정</span>
                    </a>
                    <nav class="level is-mobile" style="margin-top:2rem; font-size: x-large">
                        <div class="media-content content" style="line-height: 50px;">
                            <p>
                                <strong style="font-weight: bold; font-size: x-large">@닉네임</strong><br><br>
                                {{!-- <span style="font-size: medium;">이메일</span><br> --}}
                                <a href="#"><i class="fa-brands fa-github-alt" style="font-size: xx-large"
                                        aria-hidden="true"></i></a><br>
                                <span style="font-size: medium;">포트폴리오 주소</span><br>
                                <span style="font-size: medium;">자기소개</span>
                            </p>
                        </div>
                    </nav>
                </div>
                <div class="tabs is-large is-centered is-fullwidth" style="margin-top: 80px;">
                    <ul>
                        <li class="is-active" style="font-size: large;"><a>게시글</a></li>
                        <li style="font-size: large;"><a>댓글</a></li>
                        <li style="font-size: large;"><a>북마크</a></li>
                        <li style="font-size: large;"><a>좋아요</a></li>
                    </ul>
                </div>
        </section>
        {{!--프로필 모달 --}}
        <div class="modal" id="modal-post">
            <div id="edit-profile-modal-background" class="modal-background" onclick="closeEditProfileModal()"></div>
            <div class="modal-content">
                <div class="box">
                    <article>
                        <div class="edit-profile-field">
                            <div class="image-field">
                                <form enctype="multipart/form-data" id="upload">
                                    {{!-- <label class="custom-file-label" for="image">프로필 사진 선택하기</label> --}}
                                    <input type="file" class="custom-file-input" name="image">
                                    {{!-- image file은 img태그로 따로 파일을 받아야함. --}}
                                    <img id="profileImage">
                                </form>
                            </div>
                            <div class="others-field">
                                {{!-- input태그 쓸 때 DB에서 받아온 정보가 안뿌려져서 개고생했다 ㅠㅠㅠ!!! js에서 받아오는 값을 .val(`${ddd}`)해주면 잘 됨--}}
                                <div class="field has-addons">
                                    <div class="has-icons-left" style="width: 100%">
                                        <input id="nickname" type="text" placeholder="닉네임" class="input">
                                    </div>
                                    <div id="btn-check-dup" class="control">
                                        <button class="button is-sparta" onclick="checkNicknameDupProfile()">중복확인</button>
                                    </div>
                                </div>
                                <p id="profile-modal-help" class="help is-danger"></p>
                                <input id="githubUrl" class="input" type="text" placeholder="GitHub 주소(https에서 s는 빼고 올려주세요)">
                                <input id="portfolioUrl" class="input" type="text" placeholder="포트폴리오 주소(https에서 s는 빼고 올려주세요)">
                                <textarea id="introduction" class="textarea" placeholder="자기소개" style="resize: none;"></textarea>
                            </div>

                            <nav class="level is-mobile">
                                <div class="level-left">
                                </div>
                                <div class="level-right">
                                    <div class="level-item">
                                        <a id="edit-profile-btn" class="button is-sparta is-rounded" onclick="requestEdit()">수정</a>
                                    </div>
                                    <div class="level-item">
                                        <a id="edit-profile-modal-close-btn" class="button is-sparta is-outlined is-rounded"
                                        onclick="closeEditProfileModal()">취소</a>
                                    </div>
                                </div>
                            </div>
                            <button class="modal-close is-large" aria-label="close"
                                onclick="closeEditProfileModal()"></button>
                        </div>
                            </nav>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </div>
</div>